*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
body{
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#add8e6));
    background: linear-gradient(0deg, #ffffff 0%, #add8e6 100%);
    background-repeat: no-repeat;
}
.container{
    max-width: 1170px;
    padding: 0 10px;
    margin: auto;
}
nav{
    background-color: #211838;
    position: fixed;
    width: 100%;
    top: 0;
}
nav > div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
main{
    height: calc(100% - 200px);
}
h1{
    color: paleturquoise;
    text-transform: uppercase;
    font-weight: 800;
    -webkit-text-stroke: 1px #ffffff;
}
h2{
    text-transform: uppercase;
    font-size: 20px;
    color: #533c8d;
    font-weight: 800;
}
footer{
    text-align: center;
    width: 100%;
    padding: 12px;
    background-color: #211838;
    color: paleturquoise;
    position: fixed;
    bottom: 0;
    z-index: 10;
}
.inputDiv{
    border: 2px inset paleturquoise;
    border-radius: 3px;
    background-color: #211838;
    position: relative;
    width: 200px;
}
.inputDiv > input{
    border: none;
    background: none;
    padding: 5px 0 5px 20px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: paleturquoise;
}
.inputDiv > input::-webkit-input-placeholder{
    color: paleturquoise;
}
.inputDiv > input:-ms-input-placeholder{
    color: paleturquoise;
}
.inputDiv > input::placeholder{
    color: paleturquoise;
}
.fa-search{
    color: paleturquoise;
    font-size: 19px;
    padding: 3px;
}
.btn button{
    cursor: pointer;
    border: none;
    background-color: #211838;
    color: paleturquoise;
    padding: 10px;
    margin: 0;
}
.activBtn{
    border: 1px solid #afeeee86 !important;
    border-bottom: 3px solid paleturquoise !important;
    cursor: auto !important;
}
.divH{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 30px;
    background-color: lightgoldenrodyellow;
    margin-top: 90px;
    border-radius: 5px  5px 0 0;
    border-bottom: 1px solid #caeeee;
}
.divCurrWeather{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    background-color: lightgoldenrodyellow;
    border-radius: 0 0 5px 5px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.divCurrWeather p{
    margin: 15px;
    font-weight: 600;
}
.divCurrWeather div:nth-child(1) p{
    margin-top: -10px;
}
.currTemp{
    font-size: 40px;
    font-weight: 700;
}
.forecastTable{
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
    padding: 10px 20px;
    overflow-x: scroll;
    margin-bottom: 55px;
}
.scrollBox{
    width: 1100px;
    margin: auto;
}
.forecastTable img{
    width: 60px;
}
.forecastTable table{
    border-collapse: collapse;
    margin: auto;
}
.forecastTable td{
    width: 150px;
    height: 30px;
    font-weight: 700;
    border-bottom: 1px solid #caeeee;
}
.forecastTable td:not(td:nth-child(1)){
    text-align: center;
}
.forecastTable h2{
    padding-bottom: 10px;
}
.divErr{
    background-color: lightgoldenrodyellow;
    text-align: center;
    padding: 50px;
    border-radius: 5px;
    margin: 15px;
    margin-top: 90px;
}
.divErr span{
    font-size: 100px;
    font-weight: 900;
    color: #353232;
    text-shadow: 20px 20px 20px grey;
}
.divErr p{
    font-size: 40px;
    font-weight: 900;
    color: #353232;
    text-shadow: 10px 10px 10px grey;
}
.divErr img{
    height: 200px;
}
.mainForecast{
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
    padding: 10px 0;
    overflow-x: scroll;
    margin: 90px auto 15px;
}
.mainForecast > div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.mainForecast > h2{
    padding: 0 25px 10px 35px;
}
.boxOneDay{
    width: 29%;
    margin: 0 7px;
    background-color: #daecec;
    border: 1px solid #caeeee;
    border-radius: 5px;
    padding: 30px;
    cursor: pointer;
}
.activBox{
    background-color: lightgoldenrodyellow;
    cursor: auto;
}
.boxOneDay p:not(.currTemp){
    margin: 15px 0;
    font-weight: 600;
    font-size: 18px;
}
@media(max-width: 750px){
    .divErr{
        padding: 10px;
    }
    .divErr span{
        font-size: 40px;
        text-shadow: 10px 10px 10px grey;
    }
    .divErr p{
        font-size: 20px;
        text-shadow: 5px 5px 5px grey;
    }
}
@media(max-width: 560px){
    h1{
        display: none;
    }
    h2{
        font-size: 15px;
    }
    .divCurrWeather{
        font-size: 14px;
    }
    .currTemp{
        font-size: 25px;
    }
}
